<div class="container" style="margin-top: 50px;margin-bottom: 50px;">

	<div class="row">

		<div class="col s12 m4 l4">
			<div class="card-panel white">
		        <span class="black-text">

		        	<h5 class="black-text">Orden del Comandante General <i class="material-icons yellow-text">grade</i></h5>

		        	<h4 *ngIf="orden==true" class="green-text" style="font-weight: bold;"> Atacar</h4>
		        	<h4 *ngIf="orden==false" class="red-text" style="font-weight: bold;">Retirarse</h4>

		        </span>
	      	</div>
		</div>
		
		<div class="col s12 m8 l8">
			<div class="card-panel white">
		        <canvas id="Generals">{{ charGenerals }}</canvas>
		    </div>
		</div>

	</div>

	<div class="row">

		<div class="col s12 m6 l6">
			<div class="card-panel white">

		        <canvas id="GeneralsRecibe">{{ charGeneralsRecibe }}</canvas>

	      	</div>
		</div>

		<div class="col s12 m6 l6">
			<div class="card-panel white">
		        
		        <canvas id="GeneralsEjecute">{{ charGeneralsEjecute }}</canvas>

	      	</div>
		</div>

	</div>

</div>


<div class="fixed-action-btn">
	<a class="btn-floating btn-large red">
	<i class="large material-icons">settings</i>
	</a>
	<ul>
		<li title="Regresar"><a [routerLink]="['/home']" class="btn-floating deep-orange"><i class="material-icons">arrow_back</i></a></li>
		<li (click)='resetSimulation()' title="Resetear"><a class="btn-floating indigo"><i class="material-icons">refresh</i></a></li>
	</ul>
</div>